@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Nunito&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.acc-msg {
  text-shadow: 0 0 2px rgba(0, 0, 0, 1);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.welcome-msg {
  text-shadow: 0 0 2px rgba(0, 0, 0, 1);
  backdrop-filter: blur(4px);
}

p.error-message {
  color: orangered;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
}

.btn-hover {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #68b6ff, #8718e2);
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-position: 100% 0;
}

.btn-hover:hover {
  background-position: 0 0;
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.text-animate {
  background: linear-gradient(to right, #68b6ff, #a647f3, #68b6ff, #ac54f5);
  background-size: 400% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}

@keyframes shine {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: 0 center;
  }
}

.surprise-btn:hover {
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

.reel-container {
  position: absolute;
  top: 0%;
  right: 20%;
  display: flex;
  transform: rotate(10deg);
}

.column {
  margin: 2vmin;
}

.col-1 {
  animation: moveOffScreen 100s linear infinite;
}

.col-2 {
  animation: moveOffScreen 110s linear infinite;
}

.col-3 {
  animation: moveOffScreen 90s linear infinite;
}

@keyframes moveOffScreen {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.bg-animate {
  background: linear-gradient(to right, #68b6ff, #a647f3, #68b6ff, #ac54f5);
  background-size: 400% auto;
  animation: shine 8s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: 0 center;
  }
}

.typed-container {
  display: grid;
  place-items: center;
}

.typed {
  padding-right: 2px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 1.7s steps(20, end) forwards, blinking 1s infinite;
}
  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  0% {border-color: transparent}
  50% {border-color: white}
  100% {border-color: transparent}
}

.text-shadow-1 {
  text-shadow: 0 0 8px #615954;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
      grid-column: auto/span 2;
      grid-row: auto/span 2;
  }
}

@media (max-width: 800px) {
  .logo-xs {
    font-size: 15px;
  }

  .link-xs {
    font-size: 15px;
    padding: 7px;
  }

  .xs-width {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .xs-flex {
    flex-direction: column;
    padding-left: 0;
  }
}
